#cards-div {
  display: flex;
  flex-flow: column;
  height: 100px;
  width: 100px;
}

#card-img {
  height: 80px;
  margin: 10px;
  width: 80px;
}

#card-h2 {
  font-size: 5px;
  text-align: center;
  top: 0;
}

#mapped-cards {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
}
