button {
  height: 50px;
}

.hidden {
  display: none;
}

.notHidden {
  display: initial;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

#cards-div {
  display: flex;
  flex-flow: column;
  height: 100px;
  width: 100px;
}

#cards-div img {
  margin: 10px;
  height: 80px;
  width: 80px;
}

#cards-div h2 {
  font-size: 10px;
  text-align: center;
  top: 0;
}

#mapped-cards {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
}
